<footer>
  <div class="footer-container">
    <div class="footer-section">
      <h3>{{ 'footer.about' | translate }}</h3>
      <p>{{ 'footer.about_text' | translate }}</p>
    </div>

    <div class="footer-section">
      <h3>{{ 'footer.links' | translate }}</h3>
      <ul>
        <li>
          <a routerLink="">{{ 'header.home' | translate }}</a>
        </li>
        <li>
          <a routerLink="/register">{{ 'header.register' | translate }}</a>
        </li>
        <li>
          <a routerLink="/login">{{ 'header.login' | translate }}</a>
        </li>
        <li>
          <a routerLink="/profile">{{ 'header.profile' | translate }}</a>
        </li>
      </ul>
    </div>

    <div class="footer-section">
      <h3>{{ 'footer.contact' | translate }}</h3>
      <p>Email: zjokhadze96@gmail.com</p>
      <p>{{ 'footer.phone' | translate }}</p>
      <p>{{ 'footer.address' | translate }}</p>
    </div>
  </div>

  <div class="footer-bottom">
    <p>&copy; 2026 lac™️ {{ 'footer.rent' | translate }}</p>
  </div>
</footer>
